<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="conductorRepositoryImpl" class="repositories.impl.ConductorRepositoryImpl"/>

    <bean id="vehiculoRepositoryImpl" class="repositories.impl.VehiculoRepositoryImpl"/>


    <bean id="conductorServiceImpl" class="services.impl.ConductorServiceImpl" init-method="init" destroy-method="destroy">
        <constructor-arg ref="conductorRepositoryImpl"/>
    </bean>
    <bean id="vehiculoServiceImpl" class="services.impl.VehiculoServiceImpl" init-method="init" destroy-method="destroy">
        <constructor-arg ref="vehiculoRepositoryImpl"/>
        <constructor-arg ref="conductorServiceImpl"/>
    </bean>
</beans>